.body1 {
  align-items: flex-start;
  background-color: hsl(237, 24%, 50%);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  max-height: fit-content;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.body2 {
  border: 1px solid rgb(224, 224, 224);
  margin: auto;
  align-items: flex-start;
  background-color: #2b2bb4;
  width: 100%;
  max-height: fit-content;
}
.resp {
  max-width: 960px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  line-height: 1.4em;
}

.body3 {
  border: 1px solid rgb(224, 224, 224);
  margin: auto;
  align-items: flex-start;
  max-height: fit-content;
  background-image: linear-gradient(rgb(255, 255, 255), #5dd1ff);
}

.body4 {
  border: 1px solid rgb(224, 224, 224);
  margin: auto;
  align-items: flex-start;
  max-height: fit-content;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 154, 62));
}

.body5 {
  border: 1px solid rgb(224, 224, 224);
  margin: auto;
  align-items: flex-start;
  max-height: fit-content;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(107, 245, 255));
}

.body header {
  background-color: rgb(224, 189, 113);
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
  background-color: orange;
  width: 100%;
  height: 50px;
  padding: 0 20px 0;

  position: fixed;
}

.navul1 {
  margin-right: 50px;
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.navul2 {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
}

.navul2 li a {
  text-decoration: none;
}

.navul3 {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 0;
}

.navul3 li {
  display: flex;
  gap: 5px;
  font-weight: bolder;
}

.background {
  background-color: orange;
  width: 100%;
  max-height: fit-content;
}

.stay-in-touch {
  margin-left: auto;
}

.button1 {
  color: orange;
}
/* Float to the right on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
  .float-right-sm {
    float: right;
  }
}

/* Float to the right on screens that are equal to or greater than 769px wide */
@media (min-width: 769px) {
  .float-right-lg {
    float: right;
  }
}
